@(channelForm: Form[Channel], username: String)

@import helper._
@import helper.twitterBootstrap._

@main(username, title = "Webchat") {
@admin_main(username, title = "Webchat") {
    
    <h1>Add a channel</h1>
    
    @form(routes.AdminController.savechannel()) {
        
        <fieldset>
        
            @inputText(channelForm("name"), '_label -> "Username")
            @inputText(channelForm("topic"), '_label -> "Password")
            @inputText(channelForm("name"), '_label -> "Name")
            @inputText(channelForm("topic"), '_label -> "Topic")
			@select(channelForm("is_public"), options("true"->"Yes", "false"->"No"), '_label -> "Public")
			@select(channelForm("archived"), options("false"->"No", "true"->"Yes"), '_label -> "Archived")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this channel" class="btn primary"> or 
            <a href="@routes.AdminController.index()" class="btn">Cancel</a>
        </div>
        
    }
    
} 