@(id: Long, userForm: Form[User], username: String)

@import helper._
@import helper.twitterBootstrap._

@main(username, title = "Webchat") {
    
    <h1>Edit user</h1>
    
    @form(routes.AdminController.updateuser(id)) {
        
        <fieldset>
        
            @inputText(userForm("username"), '_label -> "Username")
            @inputPassword(userForm("password"), '_label -> "Password")
	        @inputText(userForm("firstname"), '_label -> "First name")
            @inputText(userForm("lastname"), '_label -> "Last name")
            @inputText(userForm("email"), '_label -> "E-Mail")
            @checkbox(userForm("admin"))
            @checkbox(userForm("active"))             
        
        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Save this user" class="btn primary"> or 
            <a href="@routes.AdminController.index()" class="btn">Cancel</a>
        </div>
        
    }
    
    @form(routes.AdminController.deleteuser(id), 'class -> "topRight") {
        <input type="submit" value="Delete this user" class="btn danger">
    }
    
}
