@(username: String)

@main(username, title = "Webchat") {

    <div id="channel_sidebar">
        <div class="tabbed_navi">
            <ul>
                <li><a href="#" class="channels_link">Channels</a></li>
                <li><a href="#" class="groups_link">Groups</a></li>
            </ul>
        </div>
        <div id="channels">
            <div class="utils"><a class="newchannel" href="#" >New channel</a></div>
            <ul></ul>
        </div>
        <div id="groups">
        </div>
    </div>

    <div id="stream_window">
        <div id="streams"></div>

        <div id="input">
            <select id="input_options">
                <option value="text">Text</option>
                <option value="java">Java</option>
                <option value="js">JavaScript</option>
            </select>
            <div id="input_field_wrap"><textarea id="input_field"></textarea></div>
            <input id="input_send" type="button" value="Send" />
        </div>
    </div>

    <div id="info_sidebar">
        <div id="channel_info">
            <fieldset>
                <legend>Users</legend>
                <div id="channel_users"></div>
                <div class="utils"><a class="invite" href="#" >Invite</a></div>
            </fieldset>
        </div>
        <div id="file_info">
            <fieldset>
                <legend>Files</legend>
                <div id="channel_files">

                </div>
                <div class="utils"><a class="upload" href="#" >Upload</a></div>
            </fieldset>
        </div>
    </div>

   <!-- Add to Channel Form -->
    <div id="add_wrapper">

    </div>
    <div id="add_form">
        <div id="add_meta">Invite to Channel</div>
        <div id="add_members">
            <input id="add_search" type="text" placeholder="Filter" />
        </div>
        <div id="selected_preview">
            <div class="select_list">
                <h1>Users</h1>
                <ul>
                </ul>
            </div>
            <div class="select_list">
                <h1>Groups</h1>
                <ul>
                </ul>
            </div>
        </div>
        <div id="add_selected">
            <div class="select_list">
                <h1>Selected users</h1>
                <ul>
                </ul>
            </div>
            <div class="select_list">
                <h1>Selected groups</h1>
                <ul>
                </ul>
            </div>
        </div>
        <div id="add_buttons">
            <input id="add_cancel" type="button" value="Cancel" />
            <input id="add" type="button" value="Add" />
        </div>
    </div>

    <!-- Create new channel form -->
    <div id="newchannel_wrapper">

    </div>
    <div id="newchannel_form">
        <div id="newchannel_meta">New channel</div>
        <div id="newchannel_data">
            <div class="field">
                <label for="newchannel_name">Name:</label>
                <input id="newchannel_name" type="text" size="30" name="newchannel_name" />
            </div>
            <div class="field">
                <label for="newchannel_topic">Topic:</label>
                <input id="newchannel_topic" type="text" size="30" name="newchannel_topic" />
            </div>
            <div class="field">
                <label>Private</label>
                <input id="newchannel_private_yes" type="radio" name="private" value="yes" checked/>Yes
                <input id="newchannel_private_no" type="radio" name="private" value="no" />No
            </div>
        </div>
        <div id="newchannel_buttons">

              <input id="newchannel_cancel" type="button" value="Cancel"/>
              <input id="newchannel" type="button" value="Create"/>
        </div>
    </div>

    <!-- Upload form -->
    <div id="upload_wrapper">

    </div>
    <div id="upload_form">
        <div id="upload_meta">Upload a file</div>
        <div id="upload_data">
            <div class="field">
                <label for="upload_file">File:</label>
                <input id="upload_file" type="file" size="30" name="upload_file" />
            </div>

        </div>
        <div id="upload_buttons">
            <input id="upload_cancel" type="button" value="Cancel"/>
            <input id="upload" type="button" value="Upload"/>
        </div>
    </div>
}
