@(username: String)

@main(username, title = "Webchat") {

    <div id="channel_sidebar">
        <div id="channels">
            <ul></ul>
        </div>
        <div id="groups">

        </div>
    </div>


    <div id="stream_window">

        <div id="streams">
            <div class="stream_meta"></div>
            <div class="stream_chat"></div>
        </div>

        <div id="input">
            <select id="input_options">
                <option>text</option>
                <option>java</option>
            </select>
            <textarea id="input_field"></textarea>
            <input id="input_send" type="button" value="chrisi" />
        </div>

        <div id="stream_sidebar">
            <div class="stream">

            </div>
        </div>

    </div>
}
