@(loginForm : Form[Login], username: String)

@import helper._
@import helper.twitterBootstrap._


@main(username, title = "Webchat") {

<center><h2>Login</h2></center>
<div id="loginform">


@helper.form(action = routes.LoginController.submit) {


    @inputText(
loginForm("username"),
    '_label -> "Username",
    '_showConstraints -> false
    )

    @inputPassword(
loginForm("password"),
    '_label -> "Password",
    '_showConstraints -> false
    )

    <div class="submit login">
        <input type="submit" value="Login" id="login"/>
    </div>


}

</div>

}