@(userForm : Form[User], username: String)

@import helper._
@import helper.twitterBootstrap._


@main(username, title = "Webchat") {

<center><h2>Profile</h2></center>

<div id="profile">

@helper.form(action = routes.ProfileHandling.submit) {


@inputText(
userForm("username"),
'_label -> "Username"
)

@inputPassword(
userForm("password"),
'_label -> "Password"
)

@inputPassword(
userForm("repeatpassword"),
'_label -> "Repeat Password"
)

@inputText(
userForm("email"),
'_label -> "Email"
)

@inputText(
userForm("firstname"),
'_label -> "Prename"
)

@inputText(
userForm("lastname"),
'_label -> "Lastname"
)

<input type="submit" value="Save" />


}

</div>

}