@(uploadForm : Form[File])

@import helper._
@import helper.twitterBootstrap._

<html>
    <head>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")" />
    </head>
    <body id="upload">
    @helper.form(action = routes.Application.upload, 'enctype -> "multipart/form-data") {

            <input type="file" size="15" name="uploaded_file" />
            <div class="fake">
                <div class="path"><input /></div>
                <input type="button" class="choose" value="Choose"/>
            </div>
            <input type="submit" value="Upload" />
    }
    </body>
</html>