@(userForm: Form[User], username: String)

@import helper._
@import helper.twitterBootstrap._

@admin_main(username, title = "Webchat") {
    
    <div id="admin_site">
    
    <h1>Add a user</h1>
    
    @form(routes.AdminController.saveuser()) {
        
        <fieldset>
        	@if(flash.contains("error")) {
                <div class="alert alert-error">
               	<h4 class="alert-heading">Warning! @flash.get("error")</h4>
                 
                </div>
            }
            @inputText(userForm("username"), '_label -> "Username")
            @inputPassword(userForm("password"), '_label -> "Password")
	        @inputText(userForm("firstname"), '_label -> "First name")
            @inputText(userForm("lastname"), '_label -> "Last name")
            @inputText(userForm("email"), '_label -> "E-Mail")
			@select(userForm("active"), options("true"->"Yes", "false"->"No"), '_label -> "Active")
			@select(userForm("admin"), options("false"->"No", "true"->"Yes"), '_label -> "Admin")

        </fieldset>
        
        <div class="actions">
            <input type="submit" value="Create this user" class="btn primary"> or 
            <a href="@routes.AdminController.index()" class="btn">Cancel</a>
        </div>
        
    }
    
    </div>
} 