@(username: String, title: String, admin: Boolean = false)(content: Html)

<!DOCTYPE html>

<html ng-app="WebChat">
    <head>
        <title>@title</title>

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/style.css")" />

        <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendors/syntaxhighlighter/styles/shCore.css")" />
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("vendors/syntaxhighlighter/styles/shThemeDefault.css")" />

        <script src="@routes.Assets.at("vendors/jquery.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shCore.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushAS3.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushBash.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushCpp.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushCSharp.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushCss.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushDiff.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushErlang.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushGroovy.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushJava.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushJScript.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushPerl.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushPhp.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushPowerShell.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushPython.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushRuby.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushSass.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushScala.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushSql.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushVb.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("vendors/syntaxhighlighter/scripts/shBrushXml.js")" type="text/javascript"></script>

        <script src="@routes.Assets.at("vendors/angular-1.0.2/angular.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/app.js")" type="text/javascript"></script>

        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

    </head>
    <body activity>
        <div id="site" ng-controller="DialogueController">
            <nav>
                <ul class="left_navi_links">
                    @if(username != "") {
                        <li>Hi, @username</li>
                    }
                    <li><a href="#" id="edit_profile_link" ng-click="showEditProfileDialogue(true)">Profile</a> </li>
                </ul>
                <ul class="right_navi_links">
                    <li><a href="@routes.Application.index">Stream</a></li>
                    @if(admin == true) {
                        <li><a href="@routes.AdminController.index">Admin &amp; Settings</a></li>
                    }
                    @if(username != "") {
                        <li><a class="logout" href="@routes.LoginController.logout">Logout</a></li>
                    }
                </ul>
            </nav>
            <div id="content" >
                @content
            </div>
        </div>
    </body>
</html>
