/* mixins */
/* styling */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%; }

#site {
  background: red;
  height: 100%;
  width: 100%; }
  #site nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 30px;
    background-color: green;
    border-bottom: 1px solid yellow; }
  #site #content {
    position: absolute;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0; }
    #site #content div {
      float: left;
      overflow-y: auto;
      height: 100%; }
    #site #content #channels {
      background-color: cyan;
      width: 20%; }
      #site #content #channels ul {
        list-style-type: none;
        margin: 0;
        padding: 0; }
        #site #content #channels ul li a {
          height: 30px;
          line-height: 30px;
          background-color: brown;
          display: inline-block;
          width: 100%;
          text-decoration: none; }
    #site #content #stream {
      background-color: magenta;
      width: 60%; }
    #site #content #info {
      background-color: blue;
      width: 20%; }
