/* fonts */
@font-face {
  font-family: dejavusans;
  src: url('../fonts/DejaVuSansCondensed.ttf');
}

@font-face {
  font-family: dejavusans;
  font-weight: bold;
  src: url('../fonts/DejaVuSans-Bold.ttf');
}

/* variables */
@col1: #350C1F;
@col2: #8D1B16;
@col3: #C03600;
@col4: #FFFFB7;
@col5: #8B9906;
@white: #fefefe;
@darkgrey: #333333;
@black: #000000;
@lightgray1: #dddddd;
@lightgray2: #cccccc;

/* mixins */
.border_rad(@rad){
    -webkit-border-radius: @rad;
    -moz-border-radius: @rad;
    border-radius: @rad;
}

.grad(@from, @to){
    background-image: linear-gradient(top, @from 0%, @to 100%);
    background-image: -o-linear-gradient(top, @from 0%, @to 100%);
    background-image: -moz-linear-gradient(top, @from 0%, @to 100%);
    background-image: -webkit-linear-gradient(top, @from 0%, @to 100%);
    background-image: -ms-linear-gradient(top, @from 0%, @to 100%);
}

/* styling */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: dejavusans;
}

#site {
  height: 100%;
  width: 100%;
  background-color: @white;
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: @lightgray1;

    #username
    {
        height:40px;
        line-height:40px;
        float:left;
        margin-left:10px;
    }


    ul {
      list-type-style: none;
      margin: 0;
      padding: 0;
      float: right;
      margin-right: 10px;

      li {
        display: inline-block;
        color: @black;

        a {
          color: @black;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          text-decoration: none;
        }
      }
    }
  }

  #content {
    position: absolute;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;

    #login, #profile
    {
        width:550px;
        border:2px solid @lightgray2;
        .border_rad(5px);
        margin:30px auto;
        padding:50px;

        div
        {
            margin:5px 0px;
        }

        label
        {
            float:left;
            width:150px;
        }
    }

    #channel_sidebar {
      overflow-y: auto;
      padding:1%;
      width: 18%;
      float: left;
      height: 100%;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li a {
            height: 40px;
            line-height: 40px;
            background-color: @darkgrey;
            display: inline-block;
            width: 100%;
            text-decoration: none;
            }
        }
    }

    #stream_window
    {
        width: 60%;
        position:relative;
        float:left;
        height:100%;

        #streams
        {
              width:100%;
              height:100%;

             .stream_meta
             {
                     position: absolute;
                     left: 0;
                     right: 0;
                     top: 0;
                     height: 40px;
                     border-bottom: 1px solid @black;
             }

             .stream_chat
             {
                     overflow-y: auto;
                     position: absolute;
                     top: 40px;
                     left: 0;
                     right: 0;
                     bottom: 50px;
             }
        }

        #input
        {
             width:100%;
             position:absolute;
             bottom:0;
             height:50px;
        }
    }
  }
}