/* fonts */
@font-face {
  font-family: dejavusans;
  src: url('../fonts/DejaVuSansCondensed.ttf');
}

@font-face {
  font-family: dejavusans;
  font-weight: bold;
  src: url('../fonts/DejaVuSans-Bold.ttf');
}

/* variables */
@white1:#ffffff;
@black: #000000;
@lightgray1: #dddddd;
@lightgray2: #c0c0c0;
@white2:#DEE9F7;
@blue1:#8BB2E4;
@blue2:#387BD2;
@blue3:#1E4B85;
@blue4:#0B1C32;

/* mixins */
.border_rad(@rad){
    -webkit-border-radius: @rad;
    -moz-border-radius: @rad;
    border-radius: @rad;
}

.grad(@from, @to){
    background-image: linear-gradient(top, @from 0%, @to 100%);
    background-image: -o-linear-gradient(top, @from 0%, @to 100%);
    background-image: -moz-linear-gradient(top, @from 0%, @to 100%);
    background-image: -webkit-linear-gradient(top, @from 0%, @to 100%);
    background-image: -ms-linear-gradient(top, @from 0%, @to 100%);
}

/* styling */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: dejavusans;
}

#site {
  height: 100%;
  width: 100%;
  background-color: @white1;
  
  nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: @blue3;
    color:@white1;

    #username
    {
        height:40px;
        line-height:40px;
        float:left;
        margin-left:10px;
    }


    ul {
      list-type-style: none;
      margin: 0;
      padding: 0;
      float: right;
      margin-right: 10px;

      li {
        display: inline-block;
        color: @white1;

        a {
          color: @white1;
          height: 40px;
          line-height: 40px;
          display: inline-block;
          text-decoration: none;
        }

        a:hover
        {
            text-decoration:underline;
        }
      }
    }
  }

  #content {
    position: absolute;
    top: 50px;
    bottom: 10px;
    left: 0;
    right: 0;

    #login, #profile
    {
        width:550px;
        border:2px solid @blue3;
        .border_rad(5px);
        margin:30px auto;
        padding:50px;

        div
        {
            margin:5px 0px;
        }

        label
        {
            float:left;
            width:150px;
        }
    }

    #channel_sidebar {
      position:relative;
      overflow-y: auto;
      width:20%;
      height:100%;
      float:left;

      #channels
      {
          position:absolute;
          top:0;
          left:0;
          bottom:0;
          right:0;
          padding:5px;
          margin:0px 10px;
          border:2px solid @blue3;

          .heading
          {
            padding-bottom:5px;
          }

          ul {
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                height: 30px;
                line-height: 30px;
                border:2px outset @blue3;
                display: inline-block;
                width: 98%;
                text-align:center;
                }
            }
      }
    }

    #stream_window
    {
        width: 60%;
        position:relative;
        float:left;
        height:100%;
        .grad(@white2, @white1);

        #streams
        {
              width:100%;
              height:100%;
              position:relative;


             .stream_meta
             {
                     position: absolute;
                     left: 0;
                     right: 0;
                     top: 0;
                     height: 28px;
                     line-height:28px;
                     padding:5px;
                     border: 2px solid @blue3;
             }

             .stream_chat
             {
                     padding:5px;
                     overflow-y: auto;
                     position: absolute;
                     top: 40px;
                     left: 0;
                     right: 0;
                     bottom: 56px;
                     border: 2px solid @blue3;
                     border-top:none;
             }
        }

        #input
        {
             width:100%;
             position:absolute;
             bottom:0;
             height:53px;

             #input_options
             {
                  position:absolute;
                  left:2px;
                  top:0;
                  width:50px;
                  border:1px solid @blue3;
                  margin:0;
                  padding:0;
             }

             #input_field
             {
                position:absolute;
                border:1px solid @blue3;
                margin:0;
                left:54px;
                right:54px;
                padding:0;
                height:50px;
             }

             #input_send
             {
                position:absolute;
                border:1px solid @blue3;
                background-color:@white1;
                height:50px;
                width:50px;
                margin:0;
                padding:0;
                right:2px;
                top:0;

             }
        }
    }

    #info_sidebar
    {
        position:relative;
        width:20%;
        height:100%;
        float:left;

        #channel_info
        {
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:50%;
            border:2px solid @blue3;
            margin:0px 10px;
            padding:5px;

        }

        #file_info
        {
            position:absolute;
            top:50%;
            left:0;
            right:0;
            bottom:0;
            border:2px solid @blue3;
            margin:0px 10px;
            margin-top:5px;
            padding:5px;

        }
    }
  }
}